body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.clickable:hover {
  cursor: pointer;
}

.header-link {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: var(--yellow-usep);
  font-weight: 700;
  width: auto;
  text-decoration: none;
}

.link::after {
  content: "";
  width: auto;
  height: 8px;
  background-color: var(--grey-usep);
}

.link:hover {
  cursor: pointer;
}

:root {
  --brown-usep: #63321f;
  --yellow-usep: #ecda88;
  --grey-usep: #222222;
  --green-usep: #153d37;
}
